<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>List Message in Card</title>

    <style>
    
        .row{
            margin-top: 2.5em;
        }

        .card-wrapper{
           position: relative;
           width: 250px;
           height: 320px;
        }

        .card{
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            transform-style: preserve-3d;
            transition: all 0.5s ease;
        }


       .card:hover{
           transform: rotateY(180deg);
       }

        .face-front{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background: #FFF2C9;
            color: black;
            
            
        }



        .face-back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background: #008080;
            color: black;
            transform: rotateY(180deg);
            

        }

        nav a:hover{
            background-color: #04AA6D;
            color: white;

        }




        



    </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">LAB PBP</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:8000/admin/">ADMIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/">MESSAGE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/add-note">ADD FRIENDS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/lab-4/note-list">CARD LIST</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
   

    <div class="container">
        <h2 style="text-align: center;">Card List</h2>
        <div class="row">
            {% if notes %}
                {% for note in notes %}
            <div class="col-md-3 mb-5">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="face-front z-depth-2">
                            <div class="card-body">
                                <h5 class="card-title m-1">For {{note.To}}</h5>
                              </div>
                              <p class="card-text m-1">{{note.Title}}</p>
                              <p class="card-footer m-1" style="position: absolute; bottom: 0; right:0;">From {{note.From}}</p>
                        </div>

                        <div class="face-back z-depth-2">
                            <div class="card-body">
                                <p class="card-text m-1">{{note.Message}}</p>
                            </div>
                        </div>
                       
                      </div>
                </div>

            </div>
               

                {% endfor %}
            {% endif %}



        </div>



    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>