<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Note</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous">

        <style>
            input[type=text]{
                width: 100%;
                padding: 12px;
                border: thin solid #ccc;
                border-radius: 8px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
                
                
            }
            


            input[type=submit] {
                background-color : #04AA6D;
                color: aliceblue;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=submit] :hover {
                background-color: chartreuse;
                
                
            }

            input[scope="add"]{
                background-color : #04AA6D;
                color: aliceblue;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                float: right;
               

            }

            .add{
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 2em;
            }

            nav a:hover{
                background-color: #04AA6D;
                color: white;

            }



           



            


            


        </style>


    </head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">LAB PBP</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8000/admin/">ADMIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/">MESSAGE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/add-note">ADD FRIENDS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/note-list">CARD LIST</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        

        <div class="add">
            <form action="" method="POST" id="1">
                {% csrf_token %}

                <label for="to_who">To</label>
                <input type="text" name="To" placeholder=" Who do you want to message?" id="to_who" >
    
                <label for="from_who">From</label>
                <input type="text" name="From" placeholder=" What's your name?" id="from_who"  >
    
                <label for="title_mes">Title</label>
                <input type="text" name="Title" placeholder=" What is the title?" id="title_mes">

                <label for="message">Message</label>
                <input type="text" name="Message" placeholder=" The message?" id="message">

                <input type="submit" value="Let's send a message to your friend">
    
            </form>

            <!-- <input type="submit" value="Let's send a message to your friend" form="1"> -->

           
            <!-- <form action="http://localhost:8000/lab-4/"  id="2"> {% csrf_token %} </form> -->

           


            <!-- <input scope="add" type="submit" value="See all message" form="2"> -->
            

        </div>


       




    </body>

</html>
   