<!DOCTYPE html>

<html lang="en">
    <head>
        

        <meta charset="UTF-8" />
        <title>Message</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
        crossorigin="anonymous">
        
        <style>
            table{
            border-collapse: collapse;
            width: 100%;
            }

            th {
                text-align: center;
                padding: 8px;
                background-color: #006b6b;
                color: white;
            }

            tr:nth-child(even) {
                background-color: aquamarine;
            }

            td[scope="data"] {
                text-align: center;
                padding: 1em;
            }

            td[scope="message"]{
                text-align: left;
                padding: 1em;
            }

            h1 {
                text-align: center;
                font-weight: bold;

            }

            input[type=submit] {
                background-color : #04AA6D;
                color: aliceblue;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                margin-top: 2em;
            }

            input[type=submit] :hover {
                cursor: pointer;
                background-color: chartreuse;
                
                
            }

            input[scope="note"]{
                float: right;
            }

            nav a:hover{
                background-color: #04AA6D;
                color: white;

            }


            



        </style>

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">LAB PBP</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="http://localhost:8000/admin/">ADMIN</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/">MESSAGE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/add-note">ADD FRIENDS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8000/lab-4/note-list">CARD LIST</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>


        <h1>Message from My Friends</h1>

        
            

        


        
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
                
            </tr>

            {% if notes %}
                {% for note in notes %}
                    <tr>
                        <td scope="data">{{note.To}}</td>
                        <td scope="data">{{note.From}}</td>
                        <td scope="data">{{note.Title}}</td>

                        <td scope="message">{{note.Message}}</td>
                        
                        
                    </tr>

                {% endfor %}
            {% endif %}

        </table>

        <!-- <button onclick="Window.location.href='lab4_form.html'">

        </button> -->

        <!-- <form action="add-note" method="POST" id="1"> {% csrf_token %} </form>

        <form action="note-list" method="POST" id="2"> {% csrf_token %} </form>

        <input type="submit" value="Click if you want to send a message" form="1">

        <input type="submit" value="Click if you want to see card list" scope="note" form="2" > -->

        

    </body>

</html>
