<!DOCTYPE html>

<html lang="en">
    <head>
        

        <meta charset="UTF-8" />
        <title>My Friends</title>
        <style>
            table{
            border-collapse: collapse;
            width: 100%;
            }

            th,td {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: aquamarine;
            }



        </style>

    </head>
    <body>
        <h1 style="font-weight: bold;" >List of My Friends</h1>
        <!-- <p style="text-align: center;" >They are my Friends</p> -->
        <table>
            <tr>
                <th>Name</th>
                <th>Npm</th>
                <th>Birth_date</th>
                
            </tr>

            {% if friends %}
                {% for friend in friends %}
                    <tr>
                        <td>{{friend.name}}</td>
                        <td>{{friend.npm}}</td>
                        <td>{{friend.birth_date}}</td>
                    </tr>

                {% endfor %}
            {% endif %}

        </table>

    </body>

</html>
