<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add Friends</title>
        <style>
            input[type=text],input[type=number], input[type=date]{
                width: 100%;
                padding: 12px;
                border: thin solid #ccc;
                border-radius: 8px;
                box-sizing: border-box;
                margin-top: 6px;
                margin-bottom: 16px;
                resize: vertical;
                
                
            }
            
            input[type=text]{
                background-image: url( https://eitrawmaterials.eu/wp-content/uploads/2016/09/person-icon.png);
                background-size: 20px;
                background-position: 1px 9px;
                background-repeat: no-repeat;
                padding-left: 20px;
            }

            input[type=number]{
                background-image: url( https://www.pinpng.com/pngs/m/469-4691143_png-file-svg-id-card-icon-png-transparent.png://https://visualpharm.com/assets/476/ID%20Card-595b40b75ba036ed117d7f56.svg.eu/https://thumbs.dreamstime.com/z/id-card-icon-vector-male-user-person-profile-avatar-symbol-flat-color-glyph-pictogram-illustration-136149443.jpg-content/uploads/2016/09/person-icon.png);
                background-size: 17px;
                background-position: 1px 13px;
                background-repeat: no-repeat;
                padding-left: 20px;

            }

            input[type=submit] {
                background-color : #04AA6D;
                color: aliceblue;
                padding: 12px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }

            input[type=submit] :hover {
                cursor: pointer;
                background-color: chartreuse;
                
                
            }

            .add{
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
            }



            


            


        </style>


    </head>

    <body>

        <div class="add">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="friend_name">Friend Name</label>
                <input type="text" name="name" placeholder="  Who would you like to add as a friend?" id="friend_name" >

                
    
                <label for="npm">Friend NPM</label>
                <input type="number" name="npm" placeholder="  What is your new friend NPM?" id="npm"  >
    
                <label for="dob">Friend Date of Birth</label>
                <input type="date" name="birth_date" placeholder="What is your new friend date of birth? (dd-mm-yyyy)" id="dob">
    
                <input type="submit" value="Let's add new friend">
            </form>
        </div>
       




    </body>

</html>
   