<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="UTF-8" />
        <title>Notes</title>

    </head>
    <body>
        <table width = "50%" border="1" align="center">
            <caption style= "font-weight: bold;">All Notes</caption>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>

            {% if notes %}
                {% for note in notes %}
                    <tr>
                        <td>{{note.To}}</td>
                        <td>{{note.From}}</td>
                        <td>{{note.Title}}</td>
                        <td>{{note.Message}}</td>
                    </tr>

                {% endfor %}
            {% endif %}

        </table>

    </body>

</html>